body {
    background-color: #EDEEF0;
}

.obmennik {
    width: 90%;
    display: flex;
    background-color: #ffffff;
    padding: 20px;
    border-radius: .5rem;
    margin-top: 10%;
    justify-content: center;
}

.obmennik>div {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    width: 20%;
    justify-content: space-evenly;
}

.obmennik>div>p {
    width: 100%;
    font-weight: bold;
    margin-left: 15px;
    margin-right: auto;
}

.obmennik>div>input{
    width: 90%;
}